body
{
    background-image: url('img23.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1
{
    font-size: 5em;
    text-align: center;
    border: solid black;
    border-radius: 25px;
    background: gray;
}
#regBox
{
    font-size: 16px;
    box-sizing: border-box;
    width: 270px;
    margin-top: 3em;
    margin-left: 21em;
    padding: 12px 20px 12px 40px;
    text-transform: uppercase;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
/*#regBox[type=text]:focus
{
    width: 25%;
}*/

#regButton
{
    box-sizing: border-box;
    width: 270px;
    margin-top: 3em;
    padding: 12px 20px 12px 40px;
    cursor: pointer;
    border: 2px solid #080808;
    border-radius: 3em;
    background-color: yellow;
    background-repeat: no-repeat;
}

ul
{
    margin-right: 37em;
    margin-left: 25em;
    list-style-type: none;
    text-transform: uppercase;
}
li
{
    box-sizing: border-box;
    width: 270px;
    margin-top: 3em;
    padding: 12px 20px 12px 40px;
    text-align: center;
    border: 2px solid #080808;
    border-radius: 3em;
    background-color: yellow;
    background-repeat: no-repeat;
}
/*Clickable Dropdown starts here */
.dropbtn
{
    box-sizing: border-box;
    width: 270px;
    margin-top: 3em;
    margin-top: 1em;
    margin-left: 25em;
    padding: 12px 20px 12px 40px;
    cursor: pointer;
    border: 2px solid #080808;
    border-radius: 3em;
    background-color: yellow;
    background-repeat: no-repeat;
}

.dropbtn:hover,
.dropbtn:focus
{
    background-color: #3e8e41;
}
#myInput
{
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    background-image: url('searchicon.png');
    background-repeat: no-repeat;
    background-position: 14px 12px;
    border-box: box-sizing;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    position: absolute;
    /*z-index: 1;*/
    display: none;
    overflow: auto;
    min-width: 230px;
    margin-top: .5em;
    margin-left: 25em;
    background-color: #f6f6f6;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

.dropdown-content a
{
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

.dropdown a:hover
{
    background-color: #cee005;
}

.show
{
    display: block;
}
